<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>案例：简易计算器</title>
	<script src="angular/angular.min.js"></script>
	<script src="js/ng09.js"></script>
</head>
<body>
	<div ng-controller="CalcController">
		操作数1：<input type="text" ng-model="num1"><br>
		操作数2：<input type="text" ng-model="num2"><br>
		<!-- <input type="button" value="加" ng-click="calc($event)">
		<input type="button" value="减" ng-click="calc($event)">
		<input type="button" value="乘" ng-click="calc($event)">
		<input type="button" value="除" ng-click="calc($event)"> -->
		
		<input type="radio" name="itany" value="加" ng-model="flag">
		<label for="">加</label>
		<input type="radio" name="itany" value="减" ng-model="flag">
		<label for="">减</label>
		<input type="radio" name="itany" value="乘" ng-model="flag">
		<label for="">乘</label>
		<input type="radio" name="itany" value="除" ng-model="flag">
		<label for="">除</label>
		<input type="button" value="计算" ng-click="calc()">
		<h3>运算结果：<span ng-bind="result"></span></h3>

	</div>
</body>
</html>